/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'Commissioner', sans-serif;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
span{
    color: hsl(0, 0%, 48%);
}


#image-banner{
    width: 100vw;
    display: flex;
    justify-content: center;

}
#image-banner > img{
    width: 100%;
}

#navbar{
    position:absolute;
    width: 100%;
    padding: 3em 10em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#navbar > span > a{
    color:white;
    text-decoration: none;
    font-size: 13.8px;
}
#navbar > span > a:nth-child(2){
    margin: 0 2em;
}

#product-body{
    display:flex;
    justify-content: center;
    padding: 0 25vw;
    background-color: whitesmoke;
}
.product{
    margin-top: -5.6em;

}
.product > div{
    background-color: white;
    margin-bottom: 5em;
    border-radius: 8px;
    padding: 0 3em;
}

.header-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-div >img:first-of-type{
    margin-top: -25px;
    height:50px;
    width:50px;
    margin-bottom: 2em;
}
.header-div > h2{
    font-size: 25px;
    margin-bottom: 1em;
}
.header-div > span{
    margin-bottom: 2.5em;
}
.header-div > span:last-of-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header-div > span:last-of-type > button:first-of-type{
    box-sizing: border-box;
    color: white;
    background-color: hsl(176, 50%, 47%);
    border-radius: 55px;
    width: 12.5em;
    height:3.2em;
    font-family: 'Commissioner', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    
}
.header-div > span:last-of-type > button:last-of-type{
    box-sizing: border-box;
    color: gray;
    background-color:whitesmoke;
    border-radius: 55px;
    width: 11em;
    height:3.2em;
    font-family: 'Commissioner', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    
}
.header-div > span:last-of-type > button:last-of-type > img{
    height:3.2em;
    width:3.2em;
}
.header-div > span:last-of-type > button:last-of-type > span{
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left:-8px;
}
#about{
    padding: 3em 3em;
}

#about h3{
    font-size: 20px;
    margin-bottom: 1.5em;
}

#about > .details{
    color: hsl(0, 0%, 48%);
    line-height: 1.5;
    margin-bottom: 1em; 
}